.packageDetailsForm {
    input:disabled, textarea:disabled {
        color: $primary-color;
    }
}

.actionFooter {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}