html {
    height: 100%;
}
  
body {
    font-family: Heebo;
    height: 100%;
    margin: 0;
    border: 0;
}
  
#root {
    height: 100%;

    .ant-layout {
        height: 100%;
    }
        
    .ant-layout-sider {
        padding-top: 50px;
        background: $menu-color !important;
    }

    .ant-layout-sider-trigger {
        padding: 0 10px 0 10px;
        text-align: end;
        top: 0 !important;
    }

    .ant-layout-sider-collapsed {
        .ant-layout-sider-trigger {
            text-align: center;
        }    
    }

    .ant-layout-content {
        padding: 0 10px 0 10px;
    }
    
}