.linkButton {
    display: inline-block;
    color: $primary-color;
    
    button {
        color: $primary-color;
        padding-left: 3px;   
    }

    button:hover {
        color: $secondary-color;
        button {
            color: $secondary-color;
        }
    }
}

.linkButton:hover {
    color: $secondary-color;

    button:hover {
        color: $secondary-color !important;
    }
}