@use "../colors";

.linkButton {
    display: inline-block;
    color: colors.$primary-color;
    
    button {
        color: colors.$primary-color !important;
        padding-left: 3px;   
    }

    button:hover {
        color: colors.$secondary-color !important;
        button {
            color: colors.$secondary-color;
        }
    }
}

.linkButton:hover {
    color: colors.$secondary-color;

    button:hover {
        color: colors.$secondary-color !important;
    }
}