#root {
    .sideMenu{
        background: none;
        

        border-inline-end: 0;


        .ant-menu-item-selected, .ant-menu-item-group-title {
            color: #FFFFFF;
        }
        color: #FFFFFF;
        
        .ant-menu-item-selected {
            background: $secondary-color;
        }
  }
}