@use "../colors";

#root {
    .sideMenu{
        background: none;
        border-inline-end: 0;
        color: colors.$white-color;

        .ant-menu-item , .ant-menu-submenu-title, .ant-menu-submenu {
            border-radius: 0;
            margin-inline: 0;
            width: 100%;
            color: colors.$white-color;
        }

        .ant-menu-submenu, .ant-menu-submenu-title {
            -moz-transition: none;
            -webkit-transition: none;
            -o-transition: color 0 ease-in;
            transition: none;
        }

        .ant-menu-item, .ant-menu-submenu {
            margin-block: 0;
            padding-block: 4px;
        }

        .ant-menu-item-selected, .ant-menu-item-active, .ant-menu-submenu-title {
            color: colors.$white-color;
        }
        
        .ant-menu-item-selected, .ant-menu-item-active, .ant-menu-submenu-active {
            background: colors.$secondary-color;
            .ant-menu-submenu-title {
                background: colors.$secondary-color;
            }
        }

        .ant-menu-item-only-child {
            height: 40px;
            padding-left: 24px;
        }
    }
}