#root {
    .sideMenu{
        background: none;
        border-inline-end: 0;
        color: #FFFFFF;

        .ant-menu-item-selected, .ant-menu-item-active, .ant-menu-item-group-title {
            color: #FFFFFF;
        }
        
        
        .ant-menu-item-selected, .ant-menu-item-active {
            background: $secondary-color;
        }
  }
}