$blue-color: #0958D9;
$green-color: #298E33;

.red-tag {
    color: $error-color;
    border-color: $error-color;
}

.blue-tag {
    color: $blue-color;
    border-color: $blue-color;
}

.green-tag {
    color: $green-color;
    border-color: $green-color;
}