@use "../colors";

$blue-color: #0958D9;
$green-color: #298E33;
$orange-color: #f4661b;

.red-tag {
    color: colors.$error-color;
    border-color: colors.$error-color;
}

.blue-tag {
    color: $blue-color;
    border-color: $blue-color;
}

.green-tag {
    color: $green-color;
    border-color: $green-color;
}

.orange-tag {
    color: $orange-color;
    border-color: $orange-color;
}